
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* for fonts  */
.font-bold {
  font-weight: bold;
}
.font-faint {
  opacity: 0,5;
}
.font-red {
  color: #ff0000;
  text-decoration: underline;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 52%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
}
header .wrapper {
  display: flex;
}

.logo {
  padding: 37px 20px 28px 20px;
  background: #ff0000;
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 1px;
}
.hamburger,.cross{
  text-indent: -9999px;
  display: none;
}
.hamburger::before,.cross::before {
  content: "\f0c9";
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}
.cross::before {
  content: "\f00d";
}
.header-menus {
  flex-basis: 65%;
  font-size: 10px;
  letter-spacing: 1px;
}
.header-menus ul {
  width: 100%;
  margin: 10% 27%;
  display: flex;
}
.header-menus ul li {
flex-basis: 20%;
text-align: center;
}
.header-menus ul li a {
  padding: 10px;
}
.header-menus ul li a:hover {
  border-radius: 3px;
  background: #ff0000;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts here  */

.banner::before {
  content: '';
  height: 8px;
  width: 100%;
  position: absolute;
  background-color: #ff0000;  
}
.banner .wrapper h2 {
  width: 31%;
  position: absolute;
  top: 35%;
  left: 37%;
  color: #ffffff;
  font-size: 28px;
  line-height: 41px;
}
/* banner styling ends here  */
/* etium-rhoncus styling starts here   */
.etium-rhoncus {
  padding: 69px 0;
  text-align: center;
}
.etium-rhoncus h2 {
  font-size: 31px;
}
.etium-rhoncus p {
  margin-top: 4px;
  font-size: 11px;
  text-transform: uppercase;
}
.photos {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* etium-rhoncus styling ends here  */
/* ultrices section starts here  */
.ultrices {
  padding-bottom: 29px;
  border-bottom: 1px solid #000000;
}
.ultrices .wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
.ultrices-header {
  width: 88%;
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 33px;
}
.ultrices-blog {
  flex-basis: 30%;
}
.ultrices-blog p {
  font-size: 12px;
}
.ultrices-list li {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px solid #343634;
  font-size: 12px;
}
.ultrices-list li a {
  color: #000000;
}
.month,.date {
  display: block;
  color: #ffffff;
  text-align: center;
}
.month {
  font-size: 10px;
}
.date {
  font-size: 21px;
}
.event {
  margin-bottom: 57px;
  display: flex;
  column-gap: 17px;
}
.event li a {
  padding: 20px;
  border-radius: 5px;
  background: #000000;
} 
.event li .date-heading {
  font-size: 13px;
}
.event li .date-info {
  margin-top: 5px;
  font-size: 12px;
}
/* ultrices section styling ends here  */
/* welcome section styling starts here  */
.welcome {
  padding: 70px 0;
  text-align: center;
}
.welcome .wrapper h2 {
  padding-bottom: 43px;
  font-size: 30px;
}
.welcome .wrapper p {
  font-size: 11px;
  word-spacing: 2px;
  line-height: 23px;
}
/* welcome section styling ends here  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding-top: 66px;
  padding-bottom: 80px;
  background-color: #ff0000;
  text-align: center;
}
footer p {
  font-size: 9px;
  letter-spacing: 1px;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/* media query for 1024px starts here  */
@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 70%;
  }
  .photo {
    width: 100%;
    margin-top: 20px;
  }
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  
  header {
    position: relative;
  }
  .header-menus ul {
    margin: 0;
  }
  .header-menus ul li {
    text-align: left;
  }
  .hamburger {
    display: inline-block;
  }
  .header-menus {
    display: none;
  }
  header .wrapper,.header-menus ul,.ultrices .wrapper,.event {
    flex-direction: column;
    row-gap: 20px;
  }
  .banner .wrapper h2 {
    top: 0;
    left: 60%;
    color: #ff0000;
    font-size: 17px;
  }
}
  /*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .banner .wrapper h2 {
    font-size: 14px;
  }
}  
